* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    background-color: grey;
}

#location-query {}

#locBtn {
    height: fit-content;
    width: fit-content;
}































/*/-------------------------/*/


/*/ Contact page styling /*/




































/*/-------------------------/*/