* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: red;
}

h1,
h2,
h3,
h4 {
    color: black;
}

/*/Global styling /*/

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: green;
    gap: 60px;
    overflow: hidden;
    margin-bottom: 45px;
}

.navbutton {
    height: 50px;
    width: 100px;
    color: black;
    background-color: yellow;
}

.navbutton:hover {
    background-color: blueviolet;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    width: 100%;
    gap: 100px;
}

/*--------------------------*/


/*/ Home page styling /*/

.title {
    background-color: greenyellow;
    display: flex;
    align-items: center;
}

.description {
    background-color: greenyellow;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hours {
    background-color: greenyellow;
    display: flex;
    align-items: center;
}

.location {
    background-color: greenyellow;
    display: flex;
    align-items: center;
}

.title,
.location,
.hours,
.description {
    border: 5px groove gray;
    border-radius: 5px;
    box-shadow: 0 0 20px greenyellow;
}

/*/-------------------------/*/





/*/ Menu page styling /*/
.menuItem1,
.menuItem2,
.menuItem3,
.menuItem4 {
    border: 5px groove gray;
    border-radius: 5px;
    box-shadow: 0 0 20px greenyellow;
}

.menuItem1 {
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem2 {
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;

}


.menuItem3 {
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menuItem4 {
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;

}




































/*/-------------------------/*/


/*/ Contact page styling /*/




































/*/-------------------------/*/